
.container {
    text-align: center;
    padding: 20px;
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 150px !important;
  }

  h1 svg {
    margin-right: 10px;
    color: #ff6f61; 
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.2rem;
    color: #555;
  }
  
  label svg {
    margin-right: 10px;
    color: #4caf50; 
  }
  
  input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s;
  }
  
  input:focus {
    border-color: #4caf50;
  }
  
  button {
    padding: 12px 24px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  button svg {
    margin-right: 10px;
    color: white; 
  }

  .resultado {
    margin-top: 30px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .resultado h2 {
    color: #28a745;
    font-size: 1.8rem;
  }
  
  
  .resultado h2 svg {
    margin-right: 10px;
    color: #ffd000; 
  }
  

  button svg.fa-exclamation-triangle {
    color: white; 
  }